<div class="cancel">
  <h1>Cancelled</h1>
  
  <div class="content">
    <p>Changed your mind? Head back over to the store</p>
    <br />
    <%= link_to "Shop", shop_path, :class => "alt_tag" %>
  </div>
  
</div>
