<h1>Success</h1>

Checkout status: <%= @session_with_expand.payment_status %>
<br>
Amount paid: 
<%= @session_with_expand.amount_total %>
<p>Your Purchase will be delivered to you within the next 7 days</p>


