<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
          <li>Home</li>
          <li>Shop</li>
          <li>About</li>
          <li>Contact</li>
         
      </ul>
    </div>

    <div class="col">
        <h1>Community</h1>
        <ul>
            <li>Reviews</li>
            <li>Testimonials</li>
            <li>Charity</li>
            <li>Go Green</li>
            <li></li>
        </ul>
      </div>
    
    <div class="col">
      <h1>Support</h1>
        <ul>
          <li>Account</li>
          <li>Payments</li>
          <li>Open ticket</li>
        </ul>
    </div>
    <div class="col social">
        <h1>Social</h1>
          <ul>
            <li>Loacted at</li>
            <li>Wembly statuim</li>
            <li>20000</li>
            <li>2555 5555</li>
            <li></li>
            <li></li>
         </ul>
      </div>
<div class="clearfix"></div>
</div>
</div>
<div>

</div>
