<div class="footer">
  
    <div class="footer-links">
      
        <ul>
            <li><%= link_to 'Home', root_path%></li>
            <li><%= link_to 'Shop', store_index_path, :class => "alt_tag"  %></li>
            <li><%= link_to 'About', home_about_path %></li>
            <li><%= link_to 'Contact', new_contact_path, :class => "alt_tag"  %></li>         
        </ul>
    </div>  
    
  
    <div class="address">
        
          <ul>
            <li>No. 8, Regional Center</li>            
            <li>Falcon Business Park, WC2N 5DU</li>
            <li>(Ph) +44 20 7134 3469</li>
            <li>contact@supertorque.com</li>            
         </ul>
    </div>

  
</div>



