<div class="aboutpage">

  <div id="aboutpageimg" >    
      <%= image_tag("aboutpage.jpg", :class => "about-image") %> 
  </div>

  <div class="about-company">

    <h3>About</h3>

    <p class="paragraph">SuperTorque is proudly known at the brand custodian of choice for high-end sports and luxury vehicles in 
      the United Kindgom. Our entrepreneurial spirit and passion for sports cars has created a unique 
      ‘owner-operated’ business model, with personalised care and direct relationships with each client.</p>

    <p class="paragraph">We focus most of our time, efforts and resources on constantly improving our service to our existing 
      clients, including stock availability, customer experience, availability of parts, service appointments, 
      roadside assistance services, warranty claim resolution and general personalised services that go 
      beyond the call of duty.</p>

    <p class="paragraph">SuperTorque is home to a state-of-the-art 4000sqm showroom and 4000sqm workshop facility in London, 
      with leading tools and equipment and efficient dedicated staff and operating systems. 
      All artisans within the SuperTorque service environment are internationally trained and certified by the 
      respective manufacturer and multi-skilled in mechanical, assembly and vehicle diagnostics.</p>

    <p class="paragraph">The luxury lifestyle concept stems from the idea that luxury living is not just about owning 
      luxury items; it is a way of life. Therefore, we have established a group of companies that provide 
      the world’s most sought- after brands and, in doing so, caters for the different needs of our valued 
      clients</p>

    <p class="paragraph">The shareholders are intricately involved in every aspect of the business and pride themselves on 
      employing the most highly trained, dedicated, and professional people within the high-end automotive 
      and retail industries. Great value is attached to each employee’s contribution to the overall vision 
      and objectives of the company and they take pride in the teams persevering character and endless 
      drive to be the best-of-breed in every aspect of business and life. The management philosophy is to 
      grow people and businesses through passion, trust, and sound business principles.</p>

     <h3>How it all began</h3> 

    <p class="paragraph">In 2020 SuperTorque earned the license to represent Lamborghini in the United Kindgom and has since 
      built on the legacy and success of this iconic brand through our London dealership. 
      To date SuperTorque has retailed over 200 concept vehicles and built a thriving, loyal base of 
      clientele and strong brand equity.</p>

    <p class="paragraph">The first McLaren model, the MP9-12C, was launched in 2021, with class-leading performance and 
      specifications that impacted significantly and impressively on the super-car segment in England. 
      SuperTorque was awarded the rights to sell and service McLaren in December 2021. 
      The UK region is now considered one of the most successful regions globally. 
      With a car park of over 150 vehicles and the largest McLaren showroom in the world.  
      McLaren UK has exceeded expectations and succeeded in making McLaren a serious concept Super Car 
      contender in the United Kindgom sportscar landscape. </p>

    <p class="paragraph">Rolls-Royce engineers, manufactures, and distributes luxury automobiles and parts across the globe. 
      Founded by Charles Stewart Rolls and Sir Frederick Henry Royce in 1906, the company has earned a
       reputation for exceptional engineering quality and cars considered to be among the best in the world.
        In 2020, SuperTorque was awarded the license to represent Concept Rolls-Royce Motors. The United Kindgom luxury 
        car segment has no comparative.  It has a carpark of over 250 vehicles and the most premium client 
        database in the country.</p>

    <p class="paragraph">High-performance sports car manufacturer Lotus appointed SuperTorque officially in January 2022. 
      Lotus has always enjoyed strong support in England, and the new Lotus sales and service centre 
      in London is a wonderful addition to the global network of retailers. Exciting times ahead for 
      both brands as Lotus embarks on a complete product and brand overhaul.</p>

    <p class="paragraph">Koenigsegg Automotive AB announced the appointment of SuperTorque as official dealership and
       Koenigsegg representative in the United Kindgom in March 2021 - adding even more excitement to the 
       SuperTorque offering. Koenigsegg’s philosophy is one focused on performance, not only in terms of 
       power and speed, but in every deliverable and this extends to the selection of representatives 
       around the world.</p>


  </div>


</div>