<div class="homepage">

  <div class="hero">
    <%= image_tag("homepage.jpg", :class => "hero-image") %>
  </div>
  <div class="strip">
    <p>Concept luxury vehicles for the Distinguished</p>
  </div>
  
  <div class="info">
    <div class="card text-center">
      
      <div class="card-body">
        <h5 class="card-title">Selection of Limited Edition </h5>        
        <%= link_to 'Find Your Car', store_index_path %>
      </div>
     
    </div>
  </div>

  
  
    
  <div class="pledge"></div>
</div>

