// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_order {
  display: block;
  align-items: center;
  margin-left: 30vw;
  margin-bottom: 50vh;

  h1 {
    margin: 10vh 0;
    
  }

  p {
    margin: 5vh 0;
    
  }
}