.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  font-family: 'Fredoka', sans-serif, 'Roboto', sans-serif;
  margin-top: 5vh;

  .footer-links {

    ul {
      margin-top: 8%;

      li {
        display: inline;       
        padding: 3vw;
        font-weight: 700;
        
        a {
          text-decoration: none;
          color: black;
        }

        a:hover {
          text-decoration: none;
          color: rgb(121, 100, 33);
        }

        .alt_tag {
          color: rgb(121, 100, 33);
        }

        .alt_tag:hover {
          text-decoration: none;
          color: black;
        }
      
      }
    } 
  } 

  .address {
    margin-right: 7vw;
    
    li {
      list-style: none;
      
    }
  }
}