.navbar {
  width: 100vw;
  overflow: hidden;
  margin-top: 0 auto;   
  display: flex;
  flex-direction: row;
  

  .navbar-links {

    line-height: 12vh;

    ul {
      line-height: 2em;  
      margin-top: 2vh; 
     

      li {           
        display: inline; 
        padding: 0 1vw;  
        font-size: 3vh;    
      
        .logo {
          
          font-size: 7vh;
          font-weight: 700;
          text-decoration: none;
          margin-right: 1vw;
          padding-right: 5px;
          color: rgb(121, 100, 33);
          
        }
    
        .logo:hover {
          text-decoration: none;
          color: black;
        }
    
      

      
        a {    
          text-decoration: none;          
          color: rgb(54, 54, 54);
          font-family: 'Fredoka', sans-serif, 'Roboto', sans-serif;
          font-weight: 600;
          
        }

        a:hover {
          text-decoration: none;
          color: rgb(121, 100, 33);
        }

        .alt_tag {
          color: rgb(121, 100, 33);
        }

        .alt_tag:hover {
          text-decoration: none;
          color: black;
        }

      }
    }
  }

}

