// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {

  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;

 
  h1 {
    margin-top: 1vh;
    margin-bottom: 10vh;
    color: rgb(121, 100, 33);
     
  } 

  
  input[type="submit"] {
    background-color: rgb(30, 103, 185);
    border-radius: 0.354em;
    border: solid thin rgb(23, 106, 121);
    color: white;
    font-size: 1em;
    margin-bottom: 5vh;
  }
  input[type="submit"]:hover {
    background-color: rgb(122, 121, 28);
  }
  
}

.product_listing {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25vh;  
  justify-content: space-evenly;  
  text-align: center;
  margin-top: 3vh;
  gap: 2vw;
 

  .product_column {
    width: 30vw;
    height: 40vh; 
    margin-top: 7vh;
    
    h3 {      
      font-family: 'Fredoka', sans-serif, 'Roboto', sans-serif;   
      font-weight: 600; 
      
    }

    .list_image {
      height: 50%;      
      border-radius: 5px;
    }

    p {      
      text-align: center;
      font-family: 'Fredoka', sans-serif, 'Roboto', sans-serif;
      font-weight: 500; 
      -webkit-transition: color 1s;
      transition: color 1s;    
    }

    p:hover {
      color: rgb(121, 100, 33);
    }

    .car_price {
      font-weight: 900;
      font-size: 1.5rem;
      -webkit-transition: color 1s;
      transition: color 1s;
    }

    .car_price:hover {
      text-decoration: none;
      color: rgb(121, 100, 33);
    }

  }
}